﻿@model Payroll.Entities.ViewModels.SalaryMonthViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/month")
}

@{
    ViewBag.Title = Model.Name;
}
<h2 style="text-align: center;"><em>@ViewBag.Title</em></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Insert your hours:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Currency)

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.GrossInputSalary, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align: left !important" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.GrossInputSalary, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.GrossInputSalary, "", new { @class = "text-danger"})
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("DropDownCurrency", ViewData["Currency"] as List<SelectListItem>, new { onchange = "CurrencyChange();", @class = "form-control" })
                </div>
            </div>
        </div>

        @{Html.RenderPartial("_GetMonthPartial", Model);}

        <br />
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Calculate Salary" class="btn btn-success" />
            </div>
        </div>
    </div>
            }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
