﻿@model Payroll.Entities.Models.Month

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Month</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimeMonthHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimeMonthHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNationalHolidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNationalHolidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMaternityLeaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMaternityLeaves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMedicalLeaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMedicalLeaves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalUnpaidLeaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalUnpaidLeaves)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
