﻿@model Payroll.Entities.ViewModels.SelectMonthVM

@{
    ViewBag.Title = "Select Month:";
}

<h2>@ViewBag.Title</h2>
<script src="~/Scripts/Month/Date.js"></script>


@using (Html.BeginForm("Create","Months",FormMethod.Get)) 
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add hours" />
            </div>
        </div>
    </div>
}
