﻿@model Payroll.Entities.Models.Month
<link href="~/Content/Month.css" rel="stylesheet" />

@*<script type="text/javascript">
    var ModelObj = @Html.Raw(Json.Encode(Model)); //Save javascript object/model to use in script/month.js
</script>*@

@Html.HiddenFor(model => model.UserId)
@Html.HiddenFor(model => model.Name)
@Html.HiddenFor(model => model.TotalHours)
@Html.HiddenFor(model => model.OvertimeMonthHours)
@Html.HiddenFor(model => model.TotalNationalHolidays)
@Html.HiddenFor(model => model.TotalMaternityLeaves)
@Html.HiddenFor(model => model.TotalMedicalLeaves)
@Html.HiddenFor(model => model.TotalUnpaidLeaves)

@for (int i = 0; i < Model.Weeks.Count; i++)
{
    <div class="container">
        <div class="row seven-cols">

            @for (int j = 0; j < Model.Weeks[i].Days.Count(); j++)
            {
                @Html.HiddenFor(model => model.Weeks[i].Days[j].Date)
                @Html.HiddenFor(model => model.Weeks[i].Days[j].DayOfWeek)
                <div class="col-md-1">
                    <div class="thumbnail" style="background-color: #a7e6e8">

                        @Html.LabelFor(model => model.Weeks[i].Days[j].DayOfWeek, Model.Weeks[i].Days[j].DayOfWeek, htmlAttributes: new { @class = "control-label col-md-12"})
                        @Html.LabelFor(model => model.Weeks[i].Days[j].Date, Model.Weeks[i].Days[j].Date, htmlAttributes: new { @class = "control-label col-md-12" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Weeks[i].Days[j].FirstShift, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Weeks[i].Days[j].FirstShift, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weeks[i].Days[j].FirstShift, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Weeks[i].Days[j].SecondShift, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Weeks[i].Days[j].SecondShift, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weeks[i].Days[j].SecondShift, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Weeks[i].Days[j].ThirdShift, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Weeks[i].Days[j].ThirdShift, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weeks[i].Days[j].ThirdShift, "", new { @class = "text-danger" })
                            </div>
                        </div>

                          @Html.HiddenFor(model => model.Weeks[i].Days[j].IsNationalHoliday)
                          @Html.HiddenFor(model => model.Weeks[i].Days[j].IsMaternityLeave)
                          @Html.HiddenFor(model => model.Weeks[i].Days[j].IsMedicalLeave)
                          @Html.HiddenFor(model => model.Weeks[i].Days[j].isUnpdaidLeave)
                                  
                        @Html.DropDownList($"DropDown-{i}-{j}", ViewData["LeaveDay"] as List<SelectListItem> , new { onchange = $"DropDownChange({i},{j});"})

                    </div>
                </div>

            }
        </div>
    </div>
    <br />
}
