﻿@model Payroll.Entities.Models.Month
@using System.Data.Linq

@{
    ViewBag.Title = "GetMonth";
}
<h2>@Model.Name</h2>


@using (Html.BeginForm())
{
    int weekCount = 0;
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Insert your hours:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var week in Model.Weeks)
        {
             weekCount++;
            <h3 style="text-align: center;"><em>Week @weekCount</em></h3>
            <div class="container">
                <div class="row seven-cols">
                    @foreach (var day in week.Days)
                    {
                        <div class="col-md-1">
                            <div class="thumbnail">
                                @{Html.RenderPartial("_GetDayPartial", day);}
                            </div>
                        </div>
                     }
                </div>
            </div>
         }
        <br />
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
 }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
